@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

$dot-size: 2px;
$dot-space: 3px;

.ui-pagination-fader {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-color: $gray-300;
  border-radius: 2px;
  cursor: pointer;

  &.is-moving {
    .resizer {
      &.resizer-right, &.resizer-left {
        opacity: 0;
      }
    }
  }

  &.resizing-left {
    .resizer.resizer-right {
      opacity: 0;
    }
    .resizer.resizer-left {
      opacity: 1;
    }
  }

  &.resizing-right {
    .resizer.resizer-left {
      opacity: 0;
    }
    .resizer.resizer-right {
      opacity: 1;
    }
  }

  &.over-fade {
    background:
      linear-gradient(90deg, $gray-200 ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient($gray-200 ($dot-space - $dot-size), transparent 1%) center,
      $gray-300;
    background-size: $dot-space $dot-space;

    &:hover {
      background:
        linear-gradient(90deg, $gray-200 ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($gray-200 ($dot-space - $dot-size), transparent 1%) center,
        $gray-300;
      background-size: $dot-space $dot-space;
    }
  }

  &:hover {
    background-color: darken($gray-300, $hover-factor);
    .resizer {
      opacity: .3;
    }
  }

  .resizer {
    position: absolute;
    top: 0px;
    cursor: ew-resize;
    opacity: 0;
    @include transition($transition-base);

    &.resizer-left {
      left: -15px;
    }
    &.resizer-right {
      right: -15px;
    }
  }

  .counter {
    font-size: 10px;
    padding-top: 9px;
    padding-left: 20px;
  }


}
