@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";


.page-orders {
  display: flex;

  .sidebar-block {
    @include media-max-width(lg) {
      display: none;
    }
  }

  .workspace {
    flex-grow: 5;
    background-color: $white;
  }
}
