@import "~assets/scss/bootstrap/_variables";

.ui-navigation {
  font-family: 'Montserrat';
  // text-transform: uppercase;
  // letter-spacing: 0.25px;
  font-weight: 500;

  .nav-group {
    margin-bottom: 40px;
  }

  .nav-group-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-600;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-200;
  }

}
