@import "~assets/scss/bootstrap/_variables";

.ui-icon-base {
  display: inline-block;
  vertical-align: top;

  svg {
    vertical-align: top;
  }

  &.inverted {
    svg path {
      stroke: $white;
    }
  }
}
