@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

$hover-color: darken($gray-100, 2%);

.ui-navigation-block {
  @include transition($transition-base);

  .link-content {
    display: flex;
    padding: $spacer/2;
    align-items: baseline;
  }

  .ui-navigation-block-text {
    display: block;
    margin-left: $spacer/2;
    cursor: default;
    margin-bottom: 0;
  }

  .ui-navigation-block-icon {
    display: inline-block;
  }

  &:hover {
    background-color: $hover-color;
  }

  a, a:link, a:visited {
    color: $gray-600;
    @include transition($transition-base);
    &:hover {
      color: $gray-700;
      text-decoration: none;
    }
    &.active {
      .ui-navigation-block-text {
        color: $primary;
      }
    }
  }

  .ui-navigation-block-text {
    color: $gray-900;
  }

}
