@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

.recurrings-page {
  min-height: 1200px;
  position: relative;
  // margin-right: 20px;

  .page-heading {
    padding: 40px 30px 10px;
  }

}
