@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

.ui-select {
  position: relative;
  padding: 9px 12px;
  padding-right: 40px;
  user-select: none;
  line-height: 20px;
  max-width: 320px;
  height: 40px;
  font-family: $font-family-default;

  &.active {
    border-color: $primary !important;
  }

  .value-loading {
    color: $gray-600;
    font-style: italic;
  }
}

.ui-select-icon {
  position: absolute;
  right: 10px;
  top: 9px;

  &.is-loading {
    opacity: 0.5;
    animation: spin 4s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.ui-dropdown-list {
  border-radius: $border-radius;
  transform: translateY(5px);
  position: absolute;
  z-index: 2000;
  padding: 10px 0;
  background-color: $white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  font-family: $font-family-default;

  &.is-loading {
    height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;

    .ui-dropdown-loading-list-item {
      height: 20px;
      margin: 20px;
      background-color: $gray-200;
      background-color: $border-radius;
      animation: loading 1s ease-in-out infinite;
      border-radius: 10px;

      &:first-of-type {
        margin-top: 10px;
      }
    }
  }

  .ui-dropdown-item {
    padding: 10px;
    line-height: 20px;
    transition: background .2s ease-in-out;

    &:hover {
      background-color: $gray-100;
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
