@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

.recurrence-details {
  background-color: rgba($gray-100, .5);
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  border-top: 1px solid $gray-200;
  overflow: hidden;

  .recurrence-element-wrapper {
    flex-grow: 1;
    border-bottom: 1px solid $gray-200;

    &:first-of-type {
      .recurrence-element {

      }
    }
  }
}
