@import "~assets/scss/bootstrap/_variables";
@import "~assets/scss/bootstrap/_mixins";

.ui-pagination-slider {
  position: relative;
  padding: $spacer/4;
  background-color: $gray-100;
  border-radius: 4px;
  padding-left: 120px;

  .button-controls {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
