@import 'assets/scss/fonts/index';
@import 'assets/scss/bootstrap/bootstrap';
// @import 'assets/scss/modules';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

.dropdown-root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-dropdown;
}
